if theme.logo
  a(href= config.root)
    img(src= theme.logo, alt= config.title, title= config.title)
h1
  a(href= config.root, alt= config.title, title= config.title, itemprop='headline')= config.title
p(itemprop='description')!= config.description

include _svgs

div
    div.links
      each link in theme.links
        a(href=link.url, target=link.self ? '' : '_blank')
          svg(class='icon icon-' + link.name)
            use(xlink:href='#icon-' + link.name)
    
    a(href="/about" class="header-subs" target="_self") About Me
