doctype html
html(lang='en-us')
  head
    include _head
    include _mixins

  body(itemscope, itemtype='https://schema.org/WebPage', class=is_home() ? "home" : "")
    header(itemscope, itemtype='https://schema.org/WPHeader')
      include _header
      .space

    main(itemscope, itemtype='https://schema.org/Blog')
      section.posts
        include _content

      section.videos
        script(src='https://apis.google.com/js/platform.js')
        div.g-ytsubscribe(data-channelid="UCd-en4q-cx8JxSRFCOqTKfg", data-layout="full", data-count="default")
        include _videos.html

    include _scripts
